.container {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 475px;
  height: 285px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.projects-title {
  padding-left: 0;
  padding-top: 10px;
  color: grey;
  font-weight: 500;
}

.project-image:hover {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .project-image {
    width: 250px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
}
