.projects {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100% - 200px;
  margin-left: 100px;
}

.project-image {
  width: 475px;
  height: 285px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.projects-title {
  padding-left: 185px;
  padding-top: 10px;
  color: grey;
  font-weight: 500;
}

.projects-second {
  margin-left: 350px;
}

.project-image:hover {
  border-radius: 0;
}

/* @media (max-width: 1140px) {
  .projects {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100% - 200px;
    margin-left: 100px;
  }
} */
