.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 0%;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
