.header {
  height: 70px;
  width: 100%;
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;

  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* .header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
} */

.btn__resume {
  height: 35px;
  width: 70px;
  margin-left: 950px;
  margin-top: 17.5px;
  margin-right: 100px;
  border-radius: 25px;
  border-color: transparent;
}

.header-name {
  margin-top: 20px;
  margin-left: 100px;
  padding: 0;
  width: 200px;
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

/* Write @media queries below the default css. */
@media (max-width: 550px) {
  .header {
    height: 100px;
    width: 100%;
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    z-index: 1;

    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  .header-name {
    margin-top: 20px;
    margin-left: 100px;
    padding: 0;
    width: 200px;
    padding-bottom: 0;
    display: none;
  }

  .btn__resume {
    height: 35px;
    width: 70px;
    margin: auto;
    border-radius: 25px;
    border-color: transparent;
  }
}
